@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;
$dialog-width: 600px;

.game-dialog {
  display: flex;
  position: fixed;
  z-index: $z-index-dialog;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: $bg-footer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &--open {
    opacity: 1;
    visibility: visible;

    & .game-dialog__content {
      transform: scale(1);
    }
  }

  &__close {
    position: absolute;
    top: $size-2;
    right: $size-2;
    border-radius: $corner-full;
    height: $size-4;
    width: $size-4;
    border: $border-solid $on-primary;
    box-shadow: $level-1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $breakpoint-tablet) {
      height: $size-5;
      width: $size-5;
    }

    &:hover {
      background-color: $surface;
    }

    &::before {
      content: '';
      height: $size-3;
      width: $size-3;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../../assets/close.svg');
    }
  }

  &__content {
    box-sizing: border-box;
    width: $dialog-width;
    max-width: $full-width;
    overflow-y: auto;
    border: $border-solid $outline-variant;
    border-radius: $corner-large;
    background-color: $surface-low;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    box-shadow: $level-3;
  }

  &__hero {
    position: relative;
  }
}
