@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;
$dialog-width: 600px;

.game-dialog {
  position: fixed;
  z-index: $z-index-dialog;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: $bg-footer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &--open {
    opacity: 1;
    visibility: visible;

    & .game-dialog__content {
      transform: scale(1);
    }
  }

  &__content {
    box-sizing: border-box;
    width: $dialog-width;
    max-width: 100%;
    overflow-y: auto;
    padding: $size-5;
    border: $border-solid $on-primary;
    border-radius: $corner-large;
    background-color: $surface-low;
    box-shadow: $level-3;
    display: flex;
    flex-direction: column;
    gap: $size-4;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }

  .game-dialog {
    opacity: 0;
    visibility: hidden;
  }
}
